UltramatUDP/src/resource/UltraDuoPlus_V01.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" elementFormDefault="qualified" attributeFormDefault="unqualified">
	<xs:element name="UltraDuoPlusSetup">
		<xs:annotation>
			<xs:documentation>Ultra Duo Plus Setup</xs:documentation>
		</xs:annotation>
		<xs:complexType>
			<xs:sequence>
				<xs:element name="ChannelData1" type="xs:byte"/>
				<xs:element name="ChannelData2" type="xs:byte"/>
				<xs:element name="Memory" minOccurs="40" maxOccurs="40"/>
			</xs:sequence>
			<xs:attribute name="IdentifierName" type="xs:string" use="required"/>
		</xs:complexType>
	</xs:element>
</xs:schema>
