DataExplorer/src/resource/GraphicsTemplates_V04.xsd

<?xml version="1.0" encoding="UTF-8" standalone="yes"?><xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" elementFormDefault="qualified">	<xs:element name="comment">		<xs:simpleType>			<xs:restriction base="xs:string">				<xs:enumeration value="-- OpenSerialDataExplorer GraphicsTemplate --"/>			</xs:restriction>		</xs:simpleType>	</xs:element>	<xs:element name="entry">		<xs:complexType mixed="true">			<xs:attribute name="key" use="required">				<xs:simpleType>					<xs:restriction base="xs:string">						<xs:enumeration value="0_color"/>						<xs:enumeration value="0_defMaxValue"/>						<xs:enumeration value="0_defMinValue"/>						<xs:enumeration value="0_isPositionLeft"/>						<xs:enumeration value="0_isRoundOut"/>						<xs:enumeration value="0_isStartEndDefined"/>						<xs:enumeration value="0_isStartpointZero"/>						<xs:enumeration value="0_isVisible"/>						<xs:enumeration value="0_lineStyle"/>						<xs:enumeration value="0_lineWidth"/>						<xs:enumeration value="0_numberFormat"/>						<xs:enumeration value="RecordSet_horizontalGridColor"/>						<xs:enumeration value="RecordSet_horizontalGridLineStyle"/>						<xs:enumeration value="RecordSet_horizontalGridRecordOrdinal"/>						<xs:enumeration value="RecordSet_horizontalGridType"/>						<xs:enumeration value="RecordSet_timeGridColor"/>						<xs:enumeration value="RecordSet_timeGridLineStyle"/>						<xs:enumeration value="RecordSet_timeGridType"/>					</xs:restriction>				</xs:simpleType>			</xs:attribute>		</xs:complexType>	</xs:element>	<xs:element name="properties">		<xs:complexType>			<xs:sequence>				<xs:element ref="comment"/>				<xs:element ref="entry" maxOccurs="unbounded"/>			</xs:sequence>		</xs:complexType>	</xs:element></xs:schema>